<div style ="text-align:center; padding-top: 50px;" >
    <h1 style ="color: purple;">Welcome to Covid Lens</h1>
    
    
    <p style ="font-family: 'Times New Roman', Times, serif; font-weight:bold; font-size:20px;color: rgb(22, 85, 85)">
      Covid Lens will help you to get better insight of whether it is safeto open our office or not. <br>
      To ensure safety
        we will  analyse covid situation in various office locations and among various teams in those locations.  </p>
    
    
    <button routerLink="/office-loc" style =" height :35px;background-color:rgb(123, 179, 86);color:white; border-radius: 4px; font-family:'Times New Roman', Times, serif;font-weight:bold;border:white">Let's Get Started</button>
  </div>
