<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Calculator App</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post" [formGroup]="calcForm">
                            <h3 class="text-center text-info">Calculator</h3>
                            <div class="form-group">
                                <label for="no1" class="text-info">First number:</label><br>
                                <input type="text" name="firstnumber" id="first-no" class="form-control" [formControlName]="'firstNumber'" required
                                autofocus>
                                <span style="font-style: italic;color:red;font-size: small;" *ngIf="!calcForm.get('firstNumber')!.valid && calcForm.get('firstNumber')!.touched">
                                  Please provide a valid firstnumber
                                </span>   
                            </div>
                            <div class="form-group">
                              <label for="no1" class="text-info">Second number:</label><br>
                              <input type="text" name="secondnumber" id="second-no" class="form-control" [formControlName]="'secondNumber'" required
                              autofocus>
                              <span style="font-style: italic;color:red;font-size: small;" *ngIf="!calcForm.get('secondNumber')!.valid && calcForm.get('secondNumber')!.touched">
                                Please provide a valid secondnumber
                              </span>   
                          </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-info btn-md" (click)="add()" style="margin-right: 20px;">Add</button>
                              <button type="submit" class="btn btn-info btn-md" (click)="sub()" style="margin-right: 20px;">Sub</button>
                              <button type="submit" class="btn btn-info btn-md" (click)="mul()" style="margin-right: 20px;">Mul</button>
                              <button type="submit" class="btn btn-info btn-md" (click)="div()" style="margin-right: 20px;">Div</button>
                            </div>

                            <div class="form-group">
                              <label for="no1" class="text-info">Result:</label><br> {{result}}  
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


