<div style="width: 100%;margin-left: 20px;margin-top: 30px;">
  <div style="width: 20%;  float: left; ;"> 
    <input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="filter nodes"/>
    <button (click)="tree.treeModel.clearFilter()">Clear Filter</button>
    <br>
    <button (click)="tree.treeModel.expandAll() " >Expand All </button>
    <button (click)="tree.treeModel.collapseAll()" >Collapse All</button>
    <tree-root #tree [nodes]="nodes" [options]="options"[focused]="true"></tree-root>
  </div>
  <div style="margin-left: 30%; " > 
    {{text}}
  </div>
</div>
