<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color:teal">
  <img src="../assets/covid-19-safe-logo.png" alt="Clar" width="35" height="35" />
  <a class="navbar-brand" href="#" style="color: white;margin-left: 10px;">Covid Lens</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>
  