
<!DOCTYPE html>
<html>
<body>

<h1>Calculator</h1>

<form >
  <label for="no1" style="margin-right: 20px;">First number: </label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="no2">Second number: </label>
  <input type="text" id="lname" name="lname"><br><br>
  <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Add</button>
  <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Sub</button>
  <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Mul</button>
  <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Div</button>
</form>

</body>
</html>
