
<!DOCTYPE html>
<html>
<body>

<h1>Calculator</h1>


<form [formGroup]="calcForm" >

    <label for="no1" style="margin-right: 20px;">First number: </label>
    <input id="first-no" type="text" [formControlName]="'firstNumber'"><br><br>
  
    <label for="no2">Second number: </label>
    <input id="second-no" type="text"  [formControlName]="'secondNumber'"><br><br>
    <button type="submit" class="btn btn-primary" (click)="add()" style="margin-right: 20px;">Add</button>
  <button type="submit" class="btn btn-primary" (click)="sub()" style="margin-right: 20px;">Sub</button>
  <button type="submit" class="btn btn-primary" (click)="mul()" style="margin-right: 20px;">Mul</button>
  <button type="submit" class="btn btn-primary" (click)="div()" style="margin-right: 20px;">Div</button>
  </form>
</body>
</html>
