.Uploading{
    font-style: italic;font-size: large;margin-top: 10px;font-weight: bold;
    color: rgb(23, 37, 231);
}

.Uploaded{
    font-style: italic;font-size: large;margin-top: 10px;font-weight: bold;
    color: green;
}

.box{
   
background-color: white;
  width: 1000px;
  height: 100PX;
  border: 2px solid black;
  margin-top: 10PX;
   

}